<mat-nav-list>
    <a mat-list-item [routerLink]="['/students']">
      <span class="label">Students Management</span>
    </a>
    <a mat-list-item [routerLink]="['/lectures']">
        <span class="label">Lectures Management</span>
    </a>
    <a mat-list-item [routerLink]="['/classes']">
      <span class="label">Tution Classes</span>
    </a>
    <a  mat-list-item [routerLink]="['/finance']">
      <span class="label">Financial</span>
    </a>
    <a  mat-list-item [routerLink]="['/cashflow']">
      <span class="label">Cash-Flow</span>
    </a>
    <a  mat-list-item [routerLink]="['/settings']">
      <span class="label">Settings</span>
    </a>
</mat-nav-list>