html,body{
    height:100%;
    margin: 0;
}

app-main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height:100%;
}

app-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

mat-toolbar.mat-toolbar-multiple-rows{
    min-height:56px;
    max-height: 56px;
}

mat-sidenav-container {
    top: 56px;
    height: calc(100% - 56px);
} 
mat-sidenav {
    width: 250px;
}