
.detail-view{
    margin:10px;
    padding:0px 10px;
    background-color: #fff;
    height:calc(100% - 76px);
    
    .mat-tab-group{
        height:100%;

        .mat-tab-body-content{
            height:100%;
            .fx-div{
                height:100%;
            }

            .list-view{
                height:100%;
                margin: 0px;
                padding:0px;
            }
        }
    }
}